{% extends 'base.html.twig' %}

{% block title %}Hello PersonneController!{% endblock %}

{% block body %}
    {% block nav %}
</head>
<body class="landing">

<!-- Header -->
<header id="header">
    <h1><a href="index.html">Mangatheque</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ path('page') }}">Accueil</a></li>
            <li><a href="{{ path('categorie') }}">Categories</a></li>
            <li><a href="{{ path('serie') }}">Series</a></li>
            <li><a href="{{ path('editeur') }}">Editeurs</a></li>
            <li><a href="#" class="button special">Connexion</a></li>
        </ul>
    </nav>
</header>
{% endblock %}

{% block premier %}

{% endblock %}
{% endblock %}
